<mat-toolbar class="appbar">
    <img src="../../../assets/images/buy-PAN-card.svg" height="24px" width="24px" alt="">
    <span class=" page-title Headline20-medium ">Apply PAN</span>
  </mat-toolbar>

  <div class="cards margin200" > 
    <mat-card class="card8 scroll">
        <div class="">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 ">
                    <div  class="d-flex flex-column">
                        <div class="d-flex status-container">
                            <div class="check-img">
                                <img src="../../../assets/images/ic_check.svg" width="40px" height="40px" alt="">
                            </div>
                            <div>
                                <p class="Headline24-regular">₹110</p>
                                <p class="body14-regular">Application submitted</p>
                                <p class="body14-regular mid-emphasis-color">Paid via Wallet</p>
                            
                            </div>
                            <div class="nsdl-img"> 
                                <img src="../../../assets/images/ic_nsdlpaymentsbank.svg" alt="">
                            </div>
                        </div>
                        <div class="d-flex status-message">
                            <div class="check-img">
                                <img src="../../../assets/images/ic_info.svg" width="20px" height="20px" alt="">
                            </div>
                            <div>
                                <p class="caption12-regular">Application is under process. Physical PAN card will be delivered to the customer’s registered address</p>
                            
                            </div>
                        </div>
                        <div class="data-container">
                            <div class="row">
                                <div class=" col-6 label"><p>Application type</p></div>
                                <div class=" col-6 data"><p>Physical PAN</p></div>
                            </div>
                            <div class="row">
                                <div class=" col-6 label"><p>Name</p></div>
                                <div class="col-6 data"><p>Manish Raj Kumar</p></div>
                            </div>
                            <div class="row">
                                <div class=" col-6 label"><p>Mobile number</p></div>
                                <div class=" col-6 data"><p>9820499599</p></div>
                            </div>
                            <div class="row">
                                <div class=" col-6 label"><p>E-mail ID</p></div>
                                <div class=" col-6 data"><p>manish34@xyz.com</p></div>
                            </div>
                            <div class="row">
                                <div class=" col-6 label"><p>Transaction ID</p></div>
                                <div class="col-6 data"><p>PNB540702024</p></div>
                            </div>
                            <div class="row">
                                <div class=" col-6 label"><p>Date & Time</p></div>
                                <div class="col-6 data"><p>25-FEB-21, 11:30 AM</p></div>
                            </div>
                        </div>
                       <hr>
                        <div class="d-flex">
                            <div>
                                <img class="middle" src="../../../assets/images/icons_dont-replace.svg" width="24px" height="24px" alt="">
                            </div>
                            <div>
                                <p class="body16-regular">New Application</p>
                                <p class="body14-regular  mid-emphasis-color">Submit another PAN applications</p>
                            </div>
                        </div>
                        <div>
                        </div>
                       <hr> 
                       <div class="d-flex complaint-container">
                            <div>
                                <img class="middle" src="../../../assets/images/ic_error[Filled].svg" width="24px" height="24px"  alt="">
                            </div>
                            <div>
                                <p class="body16-regular">Raise a complaint</p>
                                <p class="body14-regular  mid-emphasis-color">Resolution will take around 24-48 hours</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-card>   
</div>

