<div class="main_toolbar_background">
<div class="standard_bar">
<mat-toolbar class="standard">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
    <span class="toolbar_title">Title</span>
    <span class="example-spacer"></span>
  </mat-toolbar><hr class="seprator">
  <!-- <app-tabbar></app-tabbar> -->
</div>
<div class="standard_bar_2">
    <mat-toolbar class="standard" >
        <span>Title</span>
        <span class="example-spacer"></span>
      </mat-toolbar>
    </div>
    <div class="standard_bar_3">
        <mat-toolbar class="standard" >
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <span class="toolbar_title">Title</span>
            <span class="example-spacer"></span>
            <i class="uit uit-image standard_icon_3"></i>
            <i class="uit uit-image standard_icon_3_2"></i>
            <i class="uit uit-ellipsis-v standard_icon_3_3"></i>
          </mat-toolbar>
    </div>
    <div class="standard_bar_4">
        <mat-toolbar class="standard" >
            <span>Title</span>
            <span class="example-spacer"></span>
            <i class="uit uit-image standard_icon_3"></i>
            <i class="uit uit-image standard_icon_3_2"></i>
            <i class="uit uit-ellipsis-v standard_icon_3_3 "></i>
          </mat-toolbar>
    </div>
    <div class="standard_bar_5">
        <mat-toolbar class="standard_5" >
            <div class="toolbar_texts">
            <span class="title_toolbar space-reducer">Title<br></span>
            <span class="subtitle space-reducer">Subtitle</span>
        </div>
            <span class="example-spacer"></span>
          </mat-toolbar>
    </div>
    
    <div class="standard_bar_6">
        <mat-toolbar class="standard" >
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" class="appbar_close_btn">
                <i class="uis uis-multiply"></i>
            </button>
            <span class="toolbar_title_close">Title</span>
            <span class="example-spacer"></span>
          </mat-toolbar>
        </div>
    <div class="standard_bar_7">
        <mat-toolbar class="standard" >
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" class="appbar_close_btn">
                <i class="uis uis-multiply"></i>
            </button>
            <span class="toolbar_title_close">Title</span>
            <span class="example-spacer"></span>
            <i class="uit uit-image standard_icon_3"></i>
            <i class="uit uit-image standard_icon_3_2"></i>
            <i class="uit uit-ellipsis-v standard_icon_3_3"></i>
          </mat-toolbar>
    </div>
</div>