<div  style="margin:50px;">
    
    <p class="Headline24-regular"> Inputfields </p>

<!-- 
    <mat-form-field appearance="outline">
        <mat-label class="input_label">Label</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix class="uit uit-image input"></mat-icon>
      </mat-form-field> -->
<div style="font-size: 16px;">
      <mat-form-field class="form_field" appearance="outline">
        <mat-label class="input_label">Aadhar Card Number</mat-label>
        <input matInput placeholder="Placeholder" class="input_text main_input" >
        <mat-icon matSuffix class="uit uit-image input"></mat-icon>
        <mat-hint class="assertive_text">Assestive text</mat-hint>
      </mat-form-field>
    </div>
    <div style="font-size: 16px;">
        <mat-form-field class="form_field" appearance="outline">
          <mat-label class="input_label">Search</mat-label>
          <input matInput placeholder="Placeholder" class="input_text input_error" >
          <mat-icon matSuffix class="uit uit-search input"></mat-icon>
          <mat-hint class="assertive_text">Assestive text</mat-hint>
        </mat-form-field>
      </div>
      <div style="font-size: 16px;">
        <mat-form-field appearance="outline" class="form_field">
          <mat-label class="input_label">Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" class="input_text" required >
          <mat-icon matSuffix class="uit uit-image input"></mat-icon>
          <mat-error *ngIf="email.invalid" >{{getErrorMessage()}}</mat-error>
         
        </mat-form-field>
</div>
<!-- Test -->
<!-- <div *ngIf="" class="input_error" style="font-size: 16px;">
    <mat-form-field appearance="outline" class="form_field">
      <mat-label class="input_label">Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" class="input_text" required >
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      
    </mat-form-field>
  </div> -->
      <!-- <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field> -->


    <!-- Default textField-->
    <!-- <mat-form-field class=" body16-regular" appearance="outline">
        <mat-label class="body16-regular ">Mobile number</mat-label>
        <input matInput placeholder="">
    </mat-form-field><br><br> -->
    
    <!-- textField with placeholder -->
    <!-- <mat-form-field class=" body16-regular" appearance="outline">
        <mat-label class="body16-regular ">Label</mat-label>
        <input class="textfield" matInput placeholder="Placeholder">
    </mat-form-field><br><br> -->

    <!-- textField with error state -->
    <!-- <mat-form-field class=" body16-regular" appearance="outline">
        <mat-label class="body16-regular">Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field><br><br><br><br> -->

    <!--
    <mat-form-field class=" body16-regular" appearance="outline">
        <mat-label class="body16-regular ">Label</mat-label>
        <input class="textfield input-with-btn" matInput placeholder="Placeholder">
        <span matSuffix>
            <button class="small-tertiary-color body16-medium" mat-flat-button>Label</button>
        </span>
    </mat-form-field><br><br>-->

    <!-- textField with search_icon -->
    <!-- <mat-form-field class=" body16-regular" appearance="outline">
        <mat-label class="body16-regular ">Label</mat-label>
        <input class="textfield" matInput placeholder="Placeholder">
        <span matSuffix>
            <svg width="18" height="28" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.364 11.608h.835l4.476 4.495c.433.433.433 1.14 0 1.572a1.116 1.116 0 0 1-1.573 0l-4.487-4.484v-.834l-.285-.295a6.866 6.866 0 0 1-5.638 1.562c-2.936-.497-5.28-2.945-5.639-5.9A6.866 6.866 0 0 1 7.73.055c2.957.358 5.406 2.7 5.903 5.634a6.856 6.856 0 0 1-1.563 5.635l.295.285zM2.111 6.858a4.743 4.743 0 0 0 4.752 4.748 4.744 4.744 0 0 0 4.751-4.748 4.744 4.744 0 0 0-4.751-4.749A4.743 4.743 0 0 0 2.11 6.858z" fill="#5F6E85"/>
            </svg>
        </span>
    </mat-form-field><br><br> -->

    <!-- password Field -->
    <!-- <mat-form-field class="body16-regular passfield" appearance="outline">
            <mat-label class="body16-regular">Password</mat-label>
            <input class="passInput" matInput [type]="hide ? 'password' : 'text'"   placeholder="" required>
            <span matSuffix (click)="hide = !hide" >
                <svg *ngIf="hide" width="22" height="26" viewBox="0 0 22 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11 2.5A9.77 9.77 0 0 1 19.82 8 9.76 9.76 0 0 1 11 13.5 9.76 9.76 0 0 1 2.18 8 9.77 9.77 0 0 1 11 2.5zm0-2C6 .5 1.73 3.61 0 8c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5C20.27 3.61 16 .5 11 .5zm0 5a2.5 2.5 0 0 1 0 5 2.5 2.5 0 0 1 0-5zm0-2C8.52 3.5 6.5 5.52 6.5 8s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z" fill="#5F6E85"/>
                </svg>
                <svg *ngIf="!hide" width="22" height="26" viewBox="0 0 22 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a9.77 9.77 0 0 1 8.82 5.5 9.647 9.647 0 0 1-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C20.27 5.11 16 2 11 2c-1.27 0-2.49.2-3.64.57l1.65 1.65C9.66 4.09 10.32 4 11 4zM9.93 5.14 12 7.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C15.5 7.01 13.48 5 11 5c-.37 0-.72.05-1.07.14zM1.01 1.87l2.68 2.68A11.738 11.738 0 0 0 0 9.5C1.73 13.89 6 17 11 17c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L2.42.45 1.01 1.87zm7.5 7.5 2.61 2.61c-.04.01-.08.02-.12.02a2.5 2.5 0 0 1-2.5-2.5c0-.05.01-.08.01-.13zm-3.4-3.4 1.75 1.75A4.6 4.6 0 0 0 6.5 9.5a4.507 4.507 0 0 0 6.27 4.14l.98.98c-.88.24-1.8.38-2.75.38a9.77 9.77 0 0 1-8.82-5.5c.7-1.43 1.72-2.61 2.93-3.53z" fill="#5F6E85"/>
                </svg>   
            </span>
    </mat-form-field ><br><br> -->
    
    <!-- textField for valid state -->
    <!-- <div class="valid">
        <mat-form-field class=" body16-regular" appearance="outline">
            <mat-label class="body16-regular ">Label</mat-label>
            <input class="textfield" matInput placeholder="Placeholder">
        </mat-form-field><br><br>
    </div>
</div> -->
    
