@import '../../../../node_modules/@shivani1699/designsystem/colors.scss';

mat-card{
    padding-top: 11px;
  }
  
  
  .cards{
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: calc(100% - 156px) !important;
        .card-4-8{
        background-color: $surface-white;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
      }
    .card8{
      width: 63.671875vw;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .card4{
       width: 31.953125vw;
       margin-right: 16px;
    }
  }
  .card-heading{
    margin-bottom: 34px;
  }
  .card-content{
    color: $on-surface-on-white-mid-emphasis;
  }
  .card2-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media(max-width:599px){
    .cards{
      display: flex;
      flex-direction: column;
      height: calc(100% - 78px) !important;
      margin-bottom: 20px !important;

    }
    .card-4-8{
      width: 100% !important;
      margin-bottom: 20px !important;
      
    }
    
    
  }