<div class="cards" > 
    <mat-card class="card-4-8 card4">
      <p class="card-heading Headline18-medium"> Small Primary Buttons </p>
      <mat-form-field class=" body16-regular" appearance="outline">
        <mat-label class="body16-regular ">Mobile number</mat-label>
        <input matInput placeholder="">
      </mat-form-field><br><br>
    </mat-card>
  <mat-card class=" card-4-8 card8">
      <p class="card-heading Headline18-medium">Title</p>  
      <div class="card2-content">
        <img src="../assets/images/ic_placeholder.svg" height="120px" width="120px" alt="">
        <p class=" Headline18-medium"> Small Primary Buttons </p>
        <span class=" body14-regular">Swap ◇ content-area from layers panel with a template or your own content </span><br>
        <img src="../assets/images/ic_placeholder.svg" height="120px" width="120px" alt="">
        <p class=" Headline18-medium"> Small Primary Buttons </p>
        <span class=" body14-regular">Swap ◇ content-area from layers panel with a template or your own content </span><br>
        <img src="../assets/images/ic_placeholder.svg" height="120px" width="120px" alt="">
        <p class=" Headline18-medium"> Small Primary Buttons </p>
        <span class=" body14-regular">Swap ◇ content-area from layers panel with a template or your own content </span><br>
        <img src="../assets/images/ic_placeholder.svg" height="120px" width="120px" alt="">
        <p class=" Headline18-medium"> Small Primary Buttons </p>
        <span class=" body14-regular">Swap ◇ content-area from layers panel with a template or your own content </span><br>
        <img src="../assets/images/ic_placeholder.svg" height="120px" width="120px" alt="">
        <p class=" Headline18-medium"> Small Primary Buttons </p>
        <span class=" body14-regular">Swap ◇ content-area from layers panel with a template or your own content </span><br>
      </div>
  
    </mat-card>
  </div>