<!-- <app-primary-navigation></app-primary-navigation> -->
<router-outlet></router-outlet>
<!-- <div class="main">
<h1 class="margin_left margin_right">Welcome</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias magni vero consectetur iusto, quis expedita iure omnis quaerat praesentium pariatur adipisci totam dignissimos provident quae, exercitationem ipsam perspiciatis, ipsa voluptatum?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias magni vero consectetur iusto, quis expedita iure omnis quaerat praesentium pariatur adipisci totam dignissimos provident quae, exercitationem ipsam perspiciatis, ipsa voluptatum?</p>
</div>
 -->
