<div class="scroll">
    <p class="Headline24-regular"style="margin-left:10px"> Primary Buttons</p>
    
  <div style="padding: 10px; margin-bottom: 10px;" class="primary_button_section">
    <!-- <button class="subtitle14-medium" mat-raised-button color="warn" >Warn</button>
    <button class='small-primary-default subtitle14-medium' mat-raised-button> Register </button>
    <button class='small-primary-disabled subtitle14-medium' mat-raised-button disabled> Label</button> -->
    <div class="primary_button_variants">
   <div class="simple_primary">
    <button mat-button mat-raised-button class="button button-primary-large">
      Primary
    </button>
  </div>
  <div class="leading_icon">
    <button mat-button mat-raised-button class=" button button-primary-large">
      <mat-icon><i class="uit uit-image primary"></i></mat-icon>
      Primary
    </button>
  </div>
  <div class="ending_icon">
    <button mat-button mat-raised-button class=" button button-primary-large">
      Primary
      <i class="uis uis-angle-right-b primary"></i>
    </button>
  </div>
  <div class="with_icons">
    <button mat-button mat-raised-button class=" button button-primary-large">
      <mat-icon><i class="uit uit-image primary"></i></mat-icon>
      Primary
      <i class="uis uis-angle-right-b primary"></i>
    </button>
  </div>
  <div class="with_icons">
    <button mat-button mat-raised-button class=" button button-primary-large">
      <img src="../../../assets/images/loader-spoke.gif" width="24px" height="24px" style="margin-right: 5px;" alt="image"/>
      Primary
    </button>
  </div>

  

    <!-- <button mat-stroked-button class="button" >Primary</button> -->

  </div>
    <div class="primary_disabled_variant">
      <div>
    <button mat-button mat-raised-button disabled class="button mat_raised_button_disabled">
      disabled
    </button>
  </div>
  <div class="leading_icon">
    <button mat-button  mat-raised-button disabled class=" button mat_raised_button_disabled">
      <mat-icon><i class="uit uit-image disabled_icon"></i></mat-icon>
      disabled
    </button>
  </div>
  <div class="ending_icon">
    <button mat-button mat-raised-button disabled class=" button mat_raised_button_disabled">
      disabled
      <i class="uis uis-angle-right-b disabled_icon"></i>
    </button>
  </div>
  <div class="with_icons">
    <button mat-button mat-raised-button disabled class=" button mat_raised_button_disabled">
      <mat-icon><i class="uit uit-image disabled_icon"></i></mat-icon>
      disabled
      <i class="uis uis-angle-right-b disabled_icon"></i>
    </button>
  </div>
  <div class="with_icons">
    <button mat-button mat-raised-button disabled class=" button mat_raised_button_disabled">
      <img src="../../../assets/images/loader-spoke.gif" width="24px" height="24px" style="margin-right: 5px;" alt="image"/>
      disabled
    </button>
  </div>
</div>
  <br>

  <p class="Headline24-regular"style="margin-top:26px"> Outlined Buttons </p>
  <div class="outlined_button_variants">
  <div>
    <button mat-stroked-button class="button outlined_text mat_stroked_button">Outlined button</button>
  </div>
  
  <div class="leading_icon">
    <button mat-stroked-button class="button outlined_text">
      <mat-icon><i class="uit uit-image blue"></i></mat-icon>
      Outlined button</button>
  </div>
  <div class="ending_icon">
    <button mat-stroked-button class="button outlined_text">Outlined button
      <i class="uis uis-angle-right-b disabled_icon"></i>
    </button>
  </div>
  <div class="with_icons">
    <button mat-stroked-button class="button outlined_text">
      <mat-icon><i class="uit uit-image blue"></i></mat-icon>
      Outlined button
      <i class="uis uis-angle-right-b disabled_icon"></i>
    </button>
  </div>
  <div class="with_icons">
    <button mat-stroked-button class="button outlined_text">
      <img src="../../../assets/images/loader-spoke.gif" width="24px" height="24px" style="margin-right: 5px;" alt="image"/>
      Outlined button
    
    </button>
  </div>
  
</div>

<div class="warn_disabled_variant">
  <div class="disabled_outlined">
    <button mat-stroked-button disabled class="button outlined_text_disabled">
      Outlined button
    </button>
  </div>
  <div class="leading_icon">
    <button mat-stroked-button disabled class="button outlined_text_disabled">
      <mat-icon><i class="uit uit-image disabled_icon"></i></mat-icon>
      Outlined button
    </button>
  </div>
  <div class="ending_icon">
    <button mat-stroked-button disabled class="button outlined_text_disabled">
      Outlined button
      <i class="uis uis-angle-right-b disabled_icon"></i>
    </button>
  </div>
  <div class="with_icons">
    <button mat-stroked-button disabled class="button outlined_text_disabled">
      <mat-icon><i class="uit uit-image disabled_icon"></i></mat-icon>
      Outlined button
      <i class="uis uis-angle-right-b disabled_icon"></i>
    </button>
  </div>
  <div class="with_icons">
      <button mat-stroked-button disabled class="button outlined_text_disabled">
      <img src="../../../assets/images/loader-spoke.gif" width="24px" height="24px" style="margin-right: 5px;" alt="image"/>
        Outlined button
      </button>
  </div>
</div>
<div class="outlined_disabled_variant">
  <div class="disabled_outlined">
    <button mat-stroked-button  class="button outlined_text_warn">
      Outlined button
    </button>
  </div>
  <div class="leading_icon">
    <button mat-stroked-button  class="button outlined_text_warn">
      <mat-icon><i class="uit uit-image warn_icon"></i></mat-icon>
      Outlined button
    </button>
  </div>
  <div class="ending_icon">
    <button mat-stroked-button  class="button outlined_text_warn">
      Outlined button
      <i class="uis uis-angle-right-b warn_icon"></i>
    </button>
  </div>
  <div class="with_icons">
    <button mat-stroked-button class="button outlined_text_warn">
      <mat-icon><i class="uit uit-image warn_icon"></i></mat-icon>
      Outlined button
      <i class="uis uis-angle-right-b warn_icon"></i>
    </button>
  </div>
  <div class="with_icons">
    <button mat-stroked-button class="button outlined_text_warn">
      <img src="../../../assets/images/loader-spoke.gif" width="24px" height="24px" style="margin-right: 5px;" alt="image"/>
      Outlined button
   
    </button>
  </div>
</div>
  <br>

  
  <br>
  <p class="Headline24-regular"> Text Buttons</p>
  <div class="text_button_variants">
    <div class="text_icons">
      <button mat-button class="button text_button">
        Text button
      </button>
    </div>
    <div class="leading_icon">
      <button mat-button class="button text_button">
        <mat-icon><i class="uit uit-image blue"></i></mat-icon>
        Text button
      </button>
    </div>
    <div class="ending_icon">
        <button mat-button class="button text_button">
          Text button
          <i class="uis uis-angle-right-b disabled_icon"></i>
        </button>
    </div>
    <div class="with_icons">
      <button mat-button class="button text_button">
        <mat-icon><i class="uit uit-image blue"></i></mat-icon>
        Text button
        <i class="uis uis-angle-right-b disabled_icon"></i>
      </button>
    </div>
    <div class="with_icons">
      <button mat-button class="button text_button">
        <img src="../../../assets/images/loader-spoke.gif" width="24px" height="24px" style="margin-right: 5px;" alt="image"/>
        Text button
      </button>
    </div>
  </div>



  <div class="text_button_disabled_variants">
    <div>
      <button mat-button disabled class="button text_button">
        Text button
      </button>
    </div>
    <div class="leading_icon">
      <button mat-button disabled class="button text_button">
        <mat-icon><i class="uit uit-image disabled_icon"></i></mat-icon>
        Text button
      </button>
    </div>
    <div class="ending_icon">
      <button mat-button disabled class="button text_button">
        Text button
        <i class="uis uis-angle-right-b disabled_icon"></i>
      </button>
    </div>
    <div class="with_icons">
      <button mat-button disabled class="button text_button">
        <mat-icon><i class="uit uit-image disabled_icon "></i></mat-icon>
        Text button
        <i class="uis uis-angle-right-b disabled_icon"></i>
      </button>
    </div>
    <div class="with_icons">
      <button mat-button disabled class="button text_button">
        <img src="../../../assets/images/loader-spoke.gif" width="24px" height="24px" style="margin-right: 5px;" alt="image"/>
        Text button
      </button>
    </div>

  </div>

  <div class="text_button_warn_variants">
    <div>
      <button mat-button class="button text_button_warn">
        Text button
      </button>
    </div>
    <div class="leading">
      <button mat-button class="button text_button_warn">
        <mat-icon><i class="uit uit-image warn_icon"></i></mat-icon>
        Text button
        
      </button>
    </div>
    <div class="ending_icon">
      <button mat-button  class="button text_button_warn">
        Text button
        <i class="uis uis-angle-right-b disabled_icon"></i>
      </button>
    </div>
    <div class="with_icons">
      <button mat-button class="button text_button_warn">
        <mat-icon><i class="uit uit-image warn_icon"></i></mat-icon>
        Text button
        <i class="uis uis-angle-right-b disabled_icon"></i>
      </button>
    </div>
    <div class="with_icons">
      <button mat-button class="button text_button_warn">
        <img src="../../../assets/images/loader-spoke.gif" width="24px" height="24px" style="margin-right: 5px;" alt="image"/>
        Text button
        
      </button>
    </div>
  </div>
  <br>
  
  </div>
  </div>
  

  <!-- <div *ngIf="hidefield" class="floating-label" [ngClass]= "ispwderror==true?'invalid':''">
    <input class="passField floating-input" [formControl]="password"  type="{{passwordField}}" placeholder=" ">
    <span class="highlight"></span>
    <label>Password</label>
    <span class="input-img">
        <i class="eye fa fa-eye-slash"
        (click)="passwordField == 'password' ? passwordField = 'text' :  passwordField = 'password'"
        aria-hidden="true"></i>                
      </span>
      <p *ngIf='ispwderror' class="error">Incorrect password</p> 
    </div> -->     
