<div class="main-cont" style="display: flex; flex-direction:column">
    <div class="cards"> 
      <mat-card class="card123 mr-16">
        <p class="Headline18-medium">Simple List/single line</p>
        <mat-nav-list role="list">
          <mat-list-item>
            <p mat-line class="body-1">text-only</p>
          </mat-list-item>
          <mat-list-item>
            <div class="li-t-Icon">
              <div>
                <p mat-line class="body-1">list with trailing icon</p>
              </div>
              <div class="t-s-icon">
                <img  src="../../../assets/images/replace-icon.svg" alt="">
              </div>
            </div>
          </mat-list-item>
  
          <mat-list-item class="body-1">
            <div class="li-l-Icon">
              <div>
                <img matListIcon src="../../../assets/images/replace-icon.svg" alt="">
              </div>
              <div>
                <p mat-line>with-leading-icon</p>
              </div>
            </div>
          </mat-list-item>
  
          <mat-list-item class="body-1">
            <div class="li-s-lt-Icon">
              <div>
                <img matListAvatar src="../../../assets/images/gallery-40.svg" alt="">
              </div>
              <div class="sub-li">
                <div>
                  <p mat-line>with-leading-trailing-icon </p>
                </div>
                <div>
                  <img  src="../../../assets/images/replace-icon.svg" alt="">
                </div>
              </div>
            </div>
           
          </mat-list-item>
          <div>
            <mat-list-item class=" list-container body-1">
              <div class="li-s-lt-Icon">
                <div>
                  <img matListAvatar src="../../../assets/images/gallery-40.svg" alt="">
                </div>
                <div class="sub-li">
                  <div>
                    <p mat-line>with-leading-trailing-icon </p>
                  </div>
                  <div>
                    <img  src="../../../assets/images/replace-icon.svg" alt="">
                  </div>
                </div>
              </div>
             
            </mat-list-item>
          </div>
         
         
  
        </mat-nav-list>
        
        <div class="height-72">
          <mat-nav-list>
            <mat-list-item class="body-1 mid-width">
              <img matListIcon src="../../../assets/images/gallery2.svg" style="height: 56px; width:56px" alt="">
              <p mat-line>with-leading-trailing-icon</p>
              <img  src="../../../assets/images/replace-icon.svg" alt="">          
            </mat-list-item>
    
            <mat-list-item class="body-1 mid-width">
              <img matListIcon src="../../../assets/images/gallery3.svg" style="border-radius:0 ; height: 56px; width:100px" alt="">
              <p mat-line>with-leading-trailing-icon</p>
              <img  src="../../../assets/images/replace-icon.svg" alt="">          
            </mat-list-item>
    
          </mat-nav-list>
        </div>
        
        
     </mat-card>
     <mat-card class="card123 mr-16">
      <div class="check-48">
        <mat-selection-list>
          <mat-list-option class="body-1" >
           simple a one line
          </mat-list-option>
        </mat-selection-list>
      </div>
      
      <mat-selection-list >
        <mat-list-option >
          simple b one line
        </mat-list-option>
      </mat-selection-list>
  
      <mat-selection-list >
        <mat-list-option >
          <img matListIcon  src="../../../assets/images/replace-icon.svg" alt="">          
          simple b one line
        </mat-list-option>
      </mat-selection-list>
  
      <mat-selection-list >
        <mat-list-option >
          <img matListIcon  src="../../../assets/images/replace-icon.svg" alt="">          
          simple b one line
        </mat-list-option>
      </mat-selection-list>
      <div class="check-56">
        <mat-selection-list >
          <mat-list-option class="body-1" >
            simple one line with t 
            <img matListIcon  src="../../../assets/images/replace-icon.svg" alt="">          
          </mat-list-option>
        </mat-selection-list>
      </div>
      
       
      
      
  <!--
        <p class="Headline18-medium">Simple List/Two-line</p>
        <mat-nav-list role="list">
         
          <mat-list-item>
            <div  class="item-overline">
              <p mat-line class="overline overline-color">OVERLINE</p>
              <p mat-line class="body-1">Three line item</p>
            </div> 
          </mat-list-item>  
          <div class="two-line-tIcon">
            <mat-list-item>
              <div class="two-line">
                <p mat-line class="body-1">Two line item</p>
                <p mat-line class="caption secondary-text ">Secondary text with-leading-trailing Secondary text</p>
              </div>
            </mat-list-item>
          </div>
          
          <mat-list-item>
            <div class="two-line">
              <p mat-line class="body-1">Three line item</p>
              <p mat-line class="caption secondary-text ">Secondary text with-leading-trailing-iconwith-leading-trailing text</p>
            </div>
          </mat-list-item>
          <mat-list-item >
            <img mat-list-icon src="../../../assets/images/gallery2.svg">
            <div mat-line class="body-1">two line item</div>
            <div mat-line class="caption">secondary-text  with-leading-trailing-iconwith-leading-trailing text</div>
          </mat-list-item>
          <mat-list-item>
            <div  class="item-overline">
              <p mat-line class="overline overline-color">OVERLINE</p>
              <p mat-line class="body-1">Three line item</p>
              <p mat-line class="caption secondary-text ">Secondary text</p>
            </div> 
          </mat-list-item>  
        </mat-nav-list>
      -->
      
     </mat-card>
     <mat-card class="card123">
       <!--
        <mat-nav-list>
       
        <div mat-subheader>Folders</div>
        <mat-list-item *ngFor="let folder of folders">
          <div mat-line>{{folder.name}}</div>
          <div mat-line> {{folder.updated | date}} </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Folders</div>
        <mat-list-item *ngFor="let folder of folders">
          <img matListIcon src="../../../assets/images/replace-icon.svg" alt="">
          <div mat-line>{{folder.name}}</div>
          <div mat-line> {{folder.updated | date}} </div>
        </mat-list-item>
        
        
        
      </mat-nav-list>
  
      
       -->
      
  
      
        
      
    
       
     
      
        <mat-radio-group aria-label="Select an option"   class="example-radio-group"
      labelPosition="before">
      <div class="height-72">
        <mat-radio-button class="body-1" value="1">
          <img class="mrl-16" src="../../../assets/images/replace-icon.svg" alt="">
          <div class="two-line">
            <p class="body-1">Two line item</p>
            <a class="caption link secondary-text " href="/">Download</a>
          </div>
        </mat-radio-button>
        <mat-radio-button class="body-1" value="2">
          <img class="mrl-16" src="../../../assets/images/replace-icon.svg" alt="">
          <div class="two-line">
            <p class="body-1">Two line item</p>
            <a class="caption link secondary-text " href="/">Download</a>
  
          </div>
        </mat-radio-button>
        <mat-radio-button class="body-1" value="3">
          <img class="mrl-16" src="../../../assets/images/replace-icon.svg" alt="">
          <div class="two-line">
            <p class="body-1">Two line item</p>
            <a class="caption link secondary-text " href="/">Download</a>
  
          </div>
        </mat-radio-button>
      </div>
      </mat-radio-group>
      
      
  
      
  
     </mat-card>
     
   </div>
   <div class="proceed-btn">
    <button class='small-primary-default subtitle14-medium'  mat-raised-button >PROCEED</button>
  
   </div>
  </div>