
  <!-- Old -->
    ********** Typography ***********
    <div>
      <p class="Headline96-light">Headline/96-light</p>
      <p class="Headline60-light">Headline/60-light</p>
      <p class="Headline48-regular">Headline/48-regular</p>
      <p class="Headline34-regular">Headline/34-regular</p>
      <p class="Headline24-regular ">Headline/24-regular</p>
      <p class="Headline20-medium">Headline/20-medium</p>
      <p class="Headline18-medium">Headline/18-medium</p>
      <p class="Headlineheadline-bold">Headline/headline bold</p>
      <p class="body16-medium">body/16-medium</p>
      <p class="subtitle16-regular">body/16-regular</p>
      <p class="body16-regular">subtitle/16-regular</p>
      <p class="subtitle14-medium">subtitle/14-medium</p>
      <p class="body14-regular">body/14-regular</p>
      <p class="caption12-regular">caption/12-regular</p>
      <p class="captioncaption-3-regular ">caption/caption 3 regular</p>
      <p class="caption-caption-2-medium">caption/caption 2 medium</p>
      <p class="Overline10-regular">Overline/10-regular</p>
    </div>
    <br>
    <br>
   

    <!-- New -->
  
    ********** Typography ***********
     <div>
       <p class="headline-1">headline-1</p>
       <p class="headline-2">headline-2</p>
       <p class="headline-3">headline-3</p>
       <p class="headline-4">headline-4</p>
       <p class="headline-5">headline-5</p>
       <p class="headline-6">headline-6</p>
       <p class="headline-7">headline-7</p>
       <p class="subtitle-1">subtitle-1</p>
       <p class="subtitle-2">subtitle-2</p>
       <p class="button">button</p>
       <p class="body-1">body-1</p>
       <p class="body-2">body-2</p>
       <p class="caption">caption</p>
       <p class="overline">overline</p>
       <p class="headline-7-cap">headline-7-cap</p>
       <p class="Overline10-regular ">caption/caption 2 medium</p>
     </div>
     <br>
     <br>
    