<!-- <div class="main_toolbar_background">
    <div class="standard_bar">
    <mat-toolbar class="standard">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <span class="toolbar_title">Title</span>
        <span class="example-spacer"></span>
      </mat-toolbar><hr class="seprator">   -->
<mat-tab-group class="tab_elevation">
    <mat-tab class="" label="Label">
        <div class="main_content">
        <div class="inner_content">
            <div class="circle"><i class="uis uis-image tab_image"></i></div>
            <p class="tab_text">Two line text string with two actions. One to two lines is preferable on mobile.</p>
        </div>
        <div class="inner_content_2">
            <button mat-button class="label_1"  (click)="openDialog()"><p>Label</p></button >
            <button mat-button class="label_1 label2_padding"><p>Label</p></button >
        </div>
    </div>
    </mat-tab>
    <mat-tab  class="" label="Label">
        <div class="main_content">
            <div class="inner_content">
                <div class="circle"><i class="uis uis-image tab_image"></i></div>
                <p class="tab_text">Two line text string with two actions. One to two lines is preferable on mobile.</p>
            </div>
            <div class="inner_content_2">
                <a href="#" class="label_1"><p>Label</p></a>
                <a href="#" class="label_1 label2_padding"><p>Label</p></a>
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>
