<div class="main-cont" style="display: flex; flex-direction:column">
    <div class="cards"> 
      <mat-card class="card123 mr-16">
        <p class="Headline18-medium">Simple List/single line</p>
        <mat-nav-list role="list">
          <mat-list-item>
            <p mat-line class="body-1">text-only</p>
          </mat-list-item>

          <div class="no_lead">
            <mat-list-item>
              <div class="li-t-Icon">
                <div>
                  <p mat-line class="body-1 simple_list_text">Title</p>
                </div>
                <div class="t-s-icon">
                  <span class="body-1 meta_margin">Meta</span>
                  <i class="uit uit-image"></i>
                </div>
              </div>
            </mat-list-item>
          </div>

          <div class="lead">
            <mat-list-item class="body-1">
              <div class="li-l-Icon">          
                  <i class="uit uit-image lead"></i>
                  <span class="simple_list_text_lead">Title</span>
              </div>
            </mat-list-item>
          </div>

          <div class="medium">
            <mat-list-item class="body-1">
              <div class="li-s-lt-Icon">
                <div>
                  <i class="uit uit-image medium_icon"></i>
                </div>
                <div class="sub-li">
                  <div>
                    <span class="simple_list_text_medium">Title</span>
                  </div>
                  <div>
                    <i class="uit uit-image medium_icon2"></i>
                  </div>
                </div>
              </div>
             
            </mat-list-item>
          </div>

          <div class="large">
            <mat-list-item class="body-1">
              <div class="li-s-lt-Icon_large">
                <div class="large_div_1">
                  <i class="uit uit-image large_icon"></i>
                    <span class="simple_list_text_large">Title</span>
                </div>
                <div class="large_div_2">
                <i class="uit uit-image large_icon2"></i>
              </div>
              </div>
             
                
         
            </mat-list-item>
          </div>

        </mat-nav-list>


        <div class="height-72 x-large">
            <mat-nav-list>
              <mat-list-item class="body-1 x-large_1">
                <div class="image_div">
                  <div>
                  <img matListIcon src="../../../assets/images/gallery3.svg" style="border-radius:0 ; height: 56px; width:100px" alt="">
                  <span class="simple_list_text_x_large">Title</span>
                </div>
            <div class="text_div">
        
              <i class="uit uit-image large_icon2"></i>
            </div>
          </div>     
              </mat-list-item>
      
            </mat-nav-list>
          </div>
       </mat-card>
       </div>
       </div>

    