
@use '@angular/material' as mat;
// @import '../../../../node_modules/@shivani1699/designsystem/colors.scss';
@import '../node_modules/@shivani1699/designsystem/colors.scss';
$my-primary: mat.define-palette(mat.$purple-palette, 200);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $my-input-primary:mat.define-palette(mat.$red-palette, 500);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette,400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));
// $my-imput-theme: mat.define-light-theme((
//  color: (
//    primary:$my-input-primary,
//    accent: $my-accent,
//    warn: $my-warn,
//  )
// ));
// Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($my-theme);
// @include mat.input-theme($my-imput-theme);
// @include mat.form-field-theme($my-imput-theme);
// @include mat.all-component-themes($my-theme);

@font-face {
  font-family: 'cera-pro-regular';
  src: url('assets/fonts/Cera-Pro-Regular.otf');
}

@font-face {
  font-family: 'cera-pro-bold';
  src: url('assets/fonts/Cera-Pro-Bold.otf');
}
@font-face {
  font-family: 'cera-pro-light';
  src: url('assets/fonts/Cera-Pro-Light.otf');
}

@font-face {
  font-family: 'cera-pro-medium';
  src: url('assets/fonts/Cera-Pro-Medium.otf');
}


// ********BUTTONS STYLING start********
// Button line height 44px for web and 36px for mobile
// Styling for web

// Button Angular Material stylings starts
.mat-raised-button,.mat-stroked-button,.mat-button{
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-transform: uppercase;
}

.mat-stroked-button{
  border: 1px solid #DADADC !important;
  
}
.mat-raised-button{
  border: 1px solid #4FA333 !important;
}
.mat-raised-button{
  line-height: 44px !important;
}

mat-icon{
  line-height: 18px !important;
}

.mat-button-wrapper{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 4px;
}

.mat_raised_button_disabled{
  border:1px solid #DADADC !important;
  color: $OnSurface-disabled  !important;
  opacity: $opacity-disabled !important;
  background: #E9E9EB !important;
}
.mat_raised_button_warn{
  border:1px solid red !important;
  color: white !important;
}
// Button Angular Material stylings ends

//Button Custom classes starts
.button-primary-large{
  background-color: #4FA333;
  color: $surface-white;
  font-size: 18px;
}

// icon must be in large desktop 20px
.uis-angle-right-b.primary{
  color:  #FFFFFF;
}
.uit-image.primary{
  color: $surface-white !important;
}
.uis-angle-right-b.grey{
  color: rgba(95, 110, 133, 0.4);
}
.uit-image.disabled_icon{
  color: rgba(95, 110, 133, 0.4);
}
.uis-angle-right-b{
  color: rgba(95, 110, 133, 0.4);
}
.uit-image.blue{
  color: #184E9E;;
}
.uis-angle-right-b.warn{
  color:white;
}
.outlined_text{
  color: #184E9E;
}
.outlined_text_disabled{
  color: #020305;
}
.warn_icon{
  color: #E90C29;
}
.outlined_text_warn{
  color:#E90C29; 
}
.text_button_variants{
  display: flex;
}
.text_button_disabled{
  color: rgba(0, 0, 0, 0.26)!important;
  font-family: 'cera-pro-medium' !important;
}
.text_button{
  color: #184E9E;
}
.text_button_warn{
  color:#E90C29; 
}
.text_button_disabled_variants{
  display: flex;
}
.text_button_warn_variants{
  display: flex;
}
//Button Custom classes end

// *****BUTTON STYLING ENDS*****




// *****INPUT FIELD STYLINGS STARTS****** 
// Input Angular material styling starts

.input_label{
  font-size: 16px;
  // line-height: 20px;
  // color: black !important;
}
.mat-form-field{
  width: 328px;
  // line-height: 36px;
  height: 44px !important;
}

.form_field{
  width: 328px;
  height: 100px !important;
}
.uit-image.input,.uit-search.input,.uit-eye.input,.uit-eye-slash.input{
  color:rgba(95, 110, 133, 0.4) !important;
  font-size: 24px !important;
  position: relative;
  top: -2px;  
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $outline-disabled !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $surface-secondary !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $interaction-states-hover-secondary !important;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $surface-secondary !important;
}

.mat-form-field-label{
  color:$OnSurface-mid-emphasis !important;
  opacity: $opacity-mid-emphasis;
  width: 100% !important;
}
.mat-form-field.mat-focused .mat-form-field-label{
  color: #184E9E !important;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
  .mat-form-field-outline-gap{
    // width: 75px !important;
    // margin-left: 0px !important;
  }
}
.input_label{
  // font-size: 16px !important;
}
.mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  

}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.27em) scale(0.75);
  width: 133.3333333333%;
  // background-color: $amber-100;
  // padding: 10px;
  // line-height: 10px;
  font-size: 16px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline{
  top: 0.8em !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 13px 0 13px 0 !important;
}
.input_text{
  font-family: 'cera-pro-regular' !important;
  font-size: 16px !important;
  font-weight: 400;
  letter-spacing: 0.0015em;
}
.assertive_text{
  font-family: 'cera-pro-regular' !important;
  font-size: 12px !important;
  font-weight: 400;
  letter-spacing: 0.0015em;
  color:$OnSurface-mid-emphasis;
  opacity: $opacity-mid-emphasis;
}
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 1.9em !important;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 16px !important;
}
.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0 16px !important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label{
  color: #f44336 !important;
}
.mat-form-field.mat-form-field-invalid.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: red !important;
}
.invalid .assertive_text{
  color: red !important;
}

// Input Angular material classes styling ends

// ********* TOOLBAR(APPBAR) STYLINGS STARTS*********
//ToolBar Angular Material stylings starts
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  align-items: baseline;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background: white;
  height: 48px;
  color: #020305;
}

//ToolBar Angular Material stylings ends

// ToolBar (Appbar) Custom  classes styling  start
.uit-image.standard_icon_3_2{
  margin-left: 24px !important;
}
.uit-ellipsis-v.standard_icon_3_3{
  margin-left: 24px !important;
}
// .toolbar_title{
//   margin-left: 32px;
// }
.toolbar_subtitle{
  margin-left: 32px;
  font-size: 12px;
}
.toolbar_title_close{
  margin-left: 24px;
}

.subtitle{
  height: 15px;
  font-family: 'cera-pro-regular';
  font-size: 12px;
  letter-spacing: 0.4%;
  color: $OnSurface-mid-emphasis;
}
.title_toolbar{
  font-family: 'cera-pro-regular';
  font-size: 18px;
  position: relative;
  font-weight: bold !important;
  top: 12px;
  letter-spacing: 0.4% !important;
  color: #020305;
}



// ToolBar (Appbar) Custom classes styling ends

// ********* TOOLBAR(APPBAR) STYLINGS END*********




// Styling for mobile
@media only  screen and (max-width:600px) {
  .mat-raised-button,.mat-stroked-button{
    display: flex;
    line-height: 36px !important;
    align-items: center !important;
    justify-content: center !important;
    text-transform: uppercase;
  }
  .mat-raised-button{
    border: 1px solid #4FA333 !important;
  }
  .mat-stroked-button{
    // line-height: 44px !important;
  
  }
  // icon must be in large desktop 20px
  .uit-image{
    color:  #FFFFFF;
  }
  .uis-angle-right-b{
    color: white;
  }
  mat-icon{
    line-height: 18px !important;
  }
  
  .mat-button-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  }
  .mat_raised_button_disabled{
    border:1px solid #DADADC !important;
  }
  .mat_raised_button_disabled{
    border:1px solid #DADADC !important;
  }
  .uit-image,.uis-angle-right-b.disabled_icon{
    color: rgba(95, 110, 133, 0.4);
  }
  .uit-image.outlined{
    color: #184E9E;;
  }
}




  /** ------------- Typography CSS -------------- **/
// Depreciated Typography styling
.Headline96-light {
  font-family: 'cera-pro-light';
  font-size: 9.6rem;
  letter-spacing: -1.44px;
}
.Headline60-light {
  font-family: 'cera-pro-light';
  font-size: 6rem;
  letter-spacing: -0.3px;
}
.Headline48-regular {
  font-family: 'cera-pro-regular';
  font-size: 4.8rem;
}
.Headline34-regular {
  font-family: 'cera-pro-regular';
  font-size: 3.4rem;
  letter-spacing: 0.09px;
}
.Headline24-regular {
  font-family: 'cera-pro-bold';
  font-size: 2.4rem;
}
.Headline20-medium {
  font-family:  'cera-pro-medium';
  font-size: 2rem;
  letter-spacing: 0.15px;
}
.Headline18-medium {
  font-family: 'cera-pro-medium';
  font-size: 1.8rem;    
  line-height: 1.56;
}
.Headlineheadline-bold {
  font-family:  'cera-pro-bold';
  font-size: 1.6rem;
  line-height: 1.35;
}
.body16-medium {
  font-family: 'cera-pro-medium';
  font-size: 1.6rem;
  letter-spacing: 0.06px;
}
.subtitle16-regular {
  font-family: 'cera-pro-regular';
  font-size: 1.6rem;
  letter-spacing: 0.02px;
}
.body16-regular {
  font-family: 'cera-pro-regular';
  font-size: 1.6rem;
  letter-spacing: 0.06px;
}
.subtitle14-medium {
  font-family: 'cera-pro-medium';
  font-size: 1.4rem;
  letter-spacing: 0.1px;
}
.button{
  font-family: 'cera-pro-medium';
  font-size: 14px;
}
.body14-regular {
  font-family: 'cera-pro-regular';
  font-size: 1.4rem;
  letter-spacing: 0.06px;
}
.caption12-regular {
  font-family: 'cera-pro-regular';
  font-size: 1.2rem;
  letter-spacing: 0.4px;
}
.captioncaption-3-regular {
  font-family:'cera-pro-regular';
  font-size: 1.1rem;
  line-height: 1.35;
}
.caption-caption-2-medium {
  font-family: 'cera-pro-medium';
  font-size: 1rem;
  letter-spacing: 0.2px;
}
.headline-7-cap {
  font-family: 'cera-pro-medium';
  font-size: 1rem;
  letter-spacing: 0.2px;
}
.Overline10-regular {
  font-family: 'cera-pro-regular';
  font-size: 1rem;
  letter-spacing: 0.5px;
}




/** Updated Typography styling **/  
.headline-1{
  font-family: 'cera-pro-light';
  font-size: 9.6rem;
  letter-spacing: -1.5%;
}
.headline-2{
  font-family: 'cera-pro-light';
  font-size: 6rem;
  letter-spacing: -0.5%;
}
.headline-3{
  font-family: 'cera-pro-regular';
  font-size: 4.8rem;
}
.headline-4{
  font-family: 'cera-pro-regular';
  font-size: 3.4rem;
  letter-spacing: 0.25%;
}
.headline-5{
  font-family: 'cera-pro-regular';
  font-size: 2.4rem;
}
.headline-6{
  font-family:  'cera-pro-medium';
  font-size: 2rem;
  letter-spacing: 0.15px;
}
.headline-7{
  font-family: 'cera-pro-medium';
  font-size: 1.8rem;    
}
.subtitle-1{
  font-family:  'cera-pro-regular';
  font-size: 1.6rem;
  letter-spacing: 0.15%;
}
.subtitle-2{
  font-family: 'cera-pro-medium';
  font-size: 1.4rem;
  letter-spacing: 0.1 px;
}
.button{
  font-family: 'cera-pro-medium';
  font-size: 1.6rem;
}
.link-button{
  font-family: 'cera-pro-medium';
  font-size: 1.4rem;
}
.body-large{
  font-family: 'cera-pro-regular';
  font-size: 1.6rem;
}
.body-small{
  font-family: 'cera-pro-regular';
  letter-spacing: 0.06px;
  font-size: 14px;
}
.button-large{
  font-family: 'cera-pro-medium';
  font-size: 2.5rem;
}
.body-1{
  font-family: 'cera-pro-medium';   // (primary-web contained-button)large:-44px ,  small-36px 
  font-size: 1.6rem; //14px 
  letter-spacing: 0.4%;
}
.body-2{
  font-family: 'cera-pro-regular';
  font-size: 1.4rem;
  letter-spacing: 0.4%;
}
.caption{
  font-family: 'cera-pro-regular';
  font-size: 1.2rem;
  letter-spacing: 0.4px;
}
.overline{
  font-family:'cera-pro-regular';
  font-size: 1rem;
  letter-spacing: 0.5px;
}


// Primary navigation
.ic_paynearby{
  width: 60px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
}
// .mat-toolbar{
//   display: flex;  
//   height: 48px;
//   gap: 30px;
// }
// .mat-toolbar a{
//   text-decoration: none;
//   color: #020305;
//   font-family:  'cera-pro-medium';
//   font-size: 12px;
//   font-weight: 400;
//   line-height: 15.08px;
//   margin: 5px;
// }
// .nav_text{
//   // margin-left: px !important;
// }
// .tab1{  
//   // background-color: #184E9E;
// }
// .chevron_link_text{
//   margin-right: 16px !important;
// }
// .uis-airplay{
//   color: #020305;
// }
