@import './mytheming.scss';

html{
    font-size: 10px;
}

$a: 5em; 

.mt-xxs-desktop{
  margin-top:$a
}
/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'cera-pro-regular';
    src: url('assets/fonts/Cera-Pro-Regular.otf');
  }
  
  @font-face {
    font-family: 'cera-pro-bold';
    src: url('assets/fonts/Cera-Pro-Bold.otf');
  }
  @font-face {
    font-family: 'cera-pro-light';
    src: url('assets/fonts/Cera-Pro-Light.otf');
  }
  
  @font-face {
    font-family: 'cera-pro-medium';
    src: url('assets/fonts/Cera-Pro-Medium.otf');
  }
 


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// left-right margin 


  // .root{
  //   --margin-lr-mobile-small-tablet:10px;
  //   --margin-left : calc( 0.4 * var(--margin-lr-mobile-small-tablet));
  //   --margin-right: calc(0.8 * var(--margin-lr-mobile-small-tablet));  
  // }
//   :root {
//     --space-unit: 1em;
//     --space-xxs:  calc(0.25 * var(--space-unit));
//     --space-xs:   calc(0.5 * var(--space-unit));
//     --space-sm:   calc(0.75 * var(--space-unit));
//     --space-md:   calc(1.25 * var(--space-unit));
//     --space-lg:   calc(2 * var(--space-unit));
//     --space-xl:   calc(3.25 * var(--space-unit));
//     --space-xxl:  calc(5.25 * var(--space-unit));
// }
//   .margin-small-devices{ //mobile and small tablet
//     margin-left: var( --space-xxl);
//   }

// $font-weight:(
//   "regular":200,
//   "medium":500,
//   "bold":700
// );
// $margin:(
//   "margin-left":16px,
//   "margin-right":16px,
//   "margin-bottom":20px,
// );
// $spacing:(
//   ""
// );
// @function weight($weight-name){
//   @return map-get($font-weight ,$weight-name);
// }


// @mixin mobile {
//     @media(max-width:600px) {
//       @content;
//     }
// }
// .margin_left{
//   font-weight: weight(regular);
//   margin-left: map-get($margin, "margin-left" ) * 2; // multiplication in scss
// }
// .margin_right{
//   margin-right: map-get($margin, "margin-right");
// }
// .main{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   background-color: bisque;
  
//   h1:hover{
//     font-weight: weight(bold);
//   }
//   p{
//     font-size: 1.5em;
//   }
//   @include mobile {
//     flex-direction: column;
//   }
// }

.primary_button_text{
  color: black;
}