<!-- Web Toolbar -->

<mat-toolbar class="toolbar_class"> <!-- To box shadow use elevation class or remove it -->
   
    <img src="assets/images/ic_paynearby@2x.png" srcset="" class="ic_paynearby">
    <div class="tabs hide tab1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
       <img src="assets/images/ic_home.png" class="nav_text" alt="" srcset=""><a href=""routerLink="/" class="nav_text "
       >Home</a>
    </div>
   <div class="tabs hide tab2 " routerLinkActive="active">
   <img src="assets/images/ic_Money_Transfer.png"class="nav_text"  alt="" srcset=""><a href="" routerLink="/button" 
    class="nav_text">Money Transfer</a>
   </div>
   <div class="tabs hide tab3" routerLinkActive="active">
    <img src="assets/images/ic_aeps.png" class="nav_text"  alt="" srcset="">
    <a routerLink="/textfield" href=""  class="nav_text">AePS</a>
   </div>
   <div class="tabs hide tab4" routerLinkActive="active">
  <img src="assets/images/ic_Cash_Collection.png"  alt="" srcset=""><a href=""routerLink="/appbar"  class="nav_text" >Cash Collection</a>
   </div>
   <div class="tabs hide tab4" routerLinkActive="active">
    <img src="assets/images/ic_Air.png" alt="" srcset=""><a href="" routerLink="/layout8-4"class="nav_text">Flight Booking</a>
   </div>
   <div class="tabs hide tab6" routerLinkActive="active">
    <img src="assets/images/ic_bbps.png" alt="" srcset=""><a href=""  routerLink="/dialog"class="nav_text">Bill Payments</a>
   </div>
   <div class="tabs hide tab7"><a href="" class="chevron_link_text">8 more </a><img src="assets/images/ic_chevron.png" alt="">
</div>

    <span class="example-spacer"></span>
    <div  class="nav_btn">
      <button class="menubtn"  mat-icon-button>
        <img  src="../assets/images/wallet.svg" height="24px" width="24px" alt="">
      </button>
      <button class="menubtn menubtn_mobile"  mat-icon-button >
        <img src="../assets/images/reports.svg" alt="">
      </button>
      <button class="menubtn"  mat-icon-button>
        <img  src="../assets/images/notification.svg" alt="">
      </button>
      <button class="menubtn"  mat-icon-button>
        <img  src="../assets/images/ic_account.svg" alt=""><i class="uis uis-angle-down"></i>
      </button>
      
      <!-- <button class="walletbtn" mat-icon-button>
    
       
      </button> -->
    </div>







    <!-- Mobile Toolbar -->
  </mat-toolbar><hr class="seprator">
  <mat-toolbar class="toolbar_class2 scroll ">
    <div class="spacer52"></div>
    <div class="tabs " routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
      <img src="assets/images/ic_home.png" class="nav_text" alt="" srcset=""><a href=""routerLink="/" class="nav_text "
      >Home</a>
   </div>
  <div class="tabs" routerLinkActive="active">
  <img src="assets/images/ic_Money_Transfer.png"class="nav_text"  alt="" srcset="">
  <a href="" routerLink="/button"class="nav_text">Money Transfer</a>
  </div>
  <div class="tabs " routerLinkActive="active">
   <img src="assets/images/ic_aeps.png" class="nav_text"  alt="" srcset="">
   <a routerLink="/textfield" href=""  class="nav_text">AePS</a>
  </div>
  
  <div class="tabs " routerLinkActive="active" >
 <img src="assets/images/ic_Cash_Collection.png"  alt="" srcset="">
 <a href="" routerLink="/layout8-4"class="nav_text" >Cash Collection</a>
  </div>
  <div class="tabs " routerLinkActive="active">
   <img src="assets/images/ic_Air.png" alt="" srcset=""><a href="" routerLink="/appbar" class="nav_text" >Flight Booking</a>
  </div>
  <div class="tabs" routerLinkActive="active">
   <img src="assets/images/ic_bbps.png" alt="" srcset=""><a href="" routerLink="/dialog" class="nav_text" >Bill Payments</a>
  </div>
  <div class="tabs"><a href="" class="chevron_link_text">8 more </a><img src="assets/images/ic_chevron.png" alt="">
</div>
  </mat-toolbar>

  <!-- <div class=""> -->
      <!-- Parent -->
    <!-- <div> -->
      <!-- Logo and services -->
      <!-- <div> -->
        <!-- logo -->
      <!-- </div> -->
      <!-- <div> -->
        <!-- services -->
      <!-- </div> -->
    <!-- </div> -->

    <!-- <div> -->
      <!-- Icons Buttons -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <mat-toolbar class="toolbar">
    <mat-toolbar-row class="helpbar">
      <img src="../assets/images/icon-question-mark-circle.svg"  alt="">
      <span class="helpbar-text Overline10-regular">24X7 Helpdesk 044 6909090 | <a class="helpbar-id" href="">customercare@paynearby.in</a> </span>
      <span class="example-spacer"></span>
      <span class="helpbar-text Overline10-regular">Welcome, <b class="helpbar-bold">Prabhu Enterprises RID 282813</b> </span>
    </mat-toolbar-row>
    <mat-toolbar-row class="navbar">
      <div class="navs">
        <div>
          <span style="padding-right: 25px ; align-items: center;"> -->
           <!-- <button   mat-icon-button (click)="sidenav.toggle();">
              <img  src="../assets/images/hamburger-menu.svg" alt="">
            </button>-->
            <!-- <img src="../assets/images/PayNearby.svg" height="25.6px" width="64px" alt="">
          </span>
        </div>
        <div class="navs scroll">
          <div class="d-flex">
            <div id="box">
              <img src="../assets/images/services-images/Home.svg" height="26px" width="26px"  alt="">
              <span class=" nav-item caption12-regular">Home</span>
            </div>
          </div>
          <div id="box" class="d-flex">
            <img src="../assets/images/services-images/MoneyTransfer.svg" height="24px" width="24px" alt="">
            <span class="nav-item caption12-regular">Money transfer</span>
          </div>
          <div class="d-flex">
            <img src="../assets/images/services-images/aeps.svg" height="24px" width="24px" alt="">
            <span class="nav-item caption12-regular">AePS</span>
          </div>
          <div class="d-flex">
            <img src="../assets/images/services-images/CashCollection.svg" height="24px" width="24px" alt="">
            <span class="nav-item caption12-regular">Cash collection</span>
          </div>
          <div class="d-flex">
            <img src="../assets/images/services-images/FlightBooking.svg" height="24px" width="24px" alt="">
            <span class="nav-item caption12-regular">Flight booking</span>
          </div>
          <div class="d-flex">
            <img src="../assets/images/services-images/BillPayments.svg" height="24px" width="24px" alt="">
            <span class="nav-item caption12-regular">Bill payments</span>
          </div>
          <div  class="d-flex">
            <button id="menu" class="caption12-regular" mat-flat-button [matMenuTriggerFor]="menu">More               <img src="../assets/images/menu_btn_arrow.svg" width="16px" height="12px" alt="">
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
              <button mat-menu-item>Item 3</button>
              <button mat-menu-item>Item 4</button>
            </mat-menu>
          </div>
        </div>
        <div  class="menubtn">
          <button class="walletbtn"  mat-icon-button>
            <img  src="../assets/images/wallet.svg" height="24px" width="24px" alt="">
          </button>
          <button class="walletbtn"  mat-icon-button >
            <img src="../assets/images/reports.svg" alt="">
          </button>
          <button class="walletbtn"  mat-icon-button>
            <img  src="../assets/images/notification.svg" alt="">
          </button>
          <button   mat-icon-button>
            <img  src="../assets/images/hamburger-menu.svg" alt="">
          </button>
        </div>
      </div>
    </mat-toolbar-row>
<mat-toolbar-row class="appbar">
      <div>
        <img src="../assets/images/appbar-ic.svg" height="24px" width="24px" alt="">
        <span class=" page-title body16-medium">AePS</span>
      </div>
</mat-toolbar-row>
  </mat-toolbar>







 -->
