.example-spacer {
    flex: 1 1 auto;
  }
  .tab_content_1{
    background:blue;
    min-height: 500px;
  }
  .toolbar_class{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06), 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;  
    height: 48px;
    gap: 30px;
    align-items: center;
  }
  .active{
    padding-bottom: 6px;
    border-bottom: 2px solid #184E9E;
    padding-top: 6px;
    
  }
  .tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%; 
  }
.mat-toolbar{

}
.mat-toolbar a{
  text-decoration: none;
  color: #020305;
  font-family:  'cera-pro-medium';
  font-size: 12px;
  font-weight: 400;
  line-height: 15.08px;
  margin: 5px;
}
.nav_btn{
    .mat-icon-button{
      height: 36px !important;
      width: 36px !important;
    }
  }
  
  .menubtn { 
    border: 1px solid #f5f5f7 !important;
    margin: 6px 12px 6px 0 !important;
    border-radius: 5px;
    line-height: 0px;
  }
  .toolbar_class2{
    display: none;
  }
  @media screen and (max-width:1170px){
    .hide{
        display: none;
    }
    .toolbar_class2 {
        display: flex;  
        height: 48px;
        gap: 30px;
        align-items: center;
    }
    .menubtn_mobile{
        display: none;
    }
    .scroll {
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; 
      }
      
      // Example two required styles --------------- /
      .scroll::-webkit-scrollbar {
        display: none; 
      }
      .spacer52{
        width: 52px;
      }
  }
  
// @import '../../../../node_modules/@shivani1699/designsystem/colors.scss';
// html{
//     font-size: 62.5%;
// }
// body{
//   background-color: #F5F5F7 !important;
// }
// .helpbar{
//   height: 20px;
//   width: 100%;
//   padding: 0 20px;
//   background-color: $card-blue;
// .helpbar-id{
//   color: $on-surface-on-white-high-emphasis;
// }
// .helpbar-bold{
//   font-size: 10px;
//   font-family: 'cera-pro-bold';
// }
// .helpbar-text{
//   padding-left: 9px;
//   color: $on-surface-on-white-high-emphasis;
// }
// }
// .navs{
//   width: 100%;
//   display: flex;
//   align-items: center;
//   flex-direction: row;
// }
// .navbar{
//   height: 48px;
//   width: 100%;
//   padding: 0 16px;
//   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06), 0px 4px 12px rgba(0, 0, 0, 0.1);
//   background-color: $surface-white;
//   color: $on-surface-on-white-high-emphasis;
//   .d-flex{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     padding-left: 28px;
//     .nav-item {
//       padding-left: 6px;
//     }
//   }
// }
// #box:hover{
//   background-color: $interaction-states-hover-secondary;
// }
// .menubtn{
//   .mat-icon-button{
//     height: 36px !important;
//     width: 36px !important;
//   }
// }
// .walletbtn {
//   border: 1px solid #F5F5F7 !important;
//   margin: 6px 12px 6px 0 !important;
//   border-radius: 5px;
//   line-height: 0px;
// }
// .appbar{
//   display: none;
//   height: 48px;
//   z-index: 2;
//   padding: 0 16px;
//   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06), 0px 4px 12px rgba(0, 0, 0, 0.1);
//   background-color: $surface-white;
//   color: $on-surface-on-white-high-emphasis;
//   .page-title{
//     padding-left: 16px;
//   }
// }
// // .scroll {
// //     white-space: nowrap;
// //     overflow-x: auto;
// //     -webkit-overflow-scrolling: touch;
// //     -ms-overflow-style: -ms-autohiding-scrollbar; 
// // }
// //   // Example two required styles --------------- /
// //   .scroll::-webkit-scrollbar {
// //     display: none; 
// // }
