
<div class="cards margin200" > 
    <mat-card class="card8">
        <div class="claim-container">
          <mat-toolbar class="user-container">
            <mat-toolbar-row class="appbar">
              <img src="../../../assets/images/user_12.svg" alt="">
              <div class="user">
                <span class="body16-regular">Ram Mohan</span>
                <span class="caption12-regular mid-emphasis">+919879879879</span>
              </div>
              <span class="example-spacer"></span>
              <div class="calender-field">
                <mat-form-field class=" body16-regular" appearance="outline">
                  <mat-label>Select a date range</mat-label>
                  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input  matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                
                  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>
              </div>
              <div class="search-field">
                <mat-form-field class=" body16-regular" appearance="outline">
                  <mat-label class="body16-regular ">Search</mat-label>
                  <input class="textfield" matInput placeholder="Search transaction">
                  <span matSuffix>
                      <svg width="18" height="28" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.364 11.608h.835l4.476 4.495c.433.433.433 1.14 0 1.572a1.116 1.116 0 0 1-1.573 0l-4.487-4.484v-.834l-.285-.295a6.866 6.866 0 0 1-5.638 1.562c-2.936-.497-5.28-2.945-5.639-5.9A6.866 6.866 0 0 1 7.73.055c2.957.358 5.406 2.7 5.903 5.634a6.856 6.856 0 0 1-1.563 5.635l.295.285zM2.111 6.858a4.743 4.743 0 0 0 4.752 4.748 4.744 4.744 0 0 0 4.751-4.748 4.744 4.744 0 0 0-4.751-4.749A4.743 4.743 0 0 0 2.11 6.858z" fill="#5F6E85"/>
                      </svg>
                  </span>
              </mat-form-field>
              </div>
              
            </mat-toolbar-row>
            <div>
            </div>
            
          </mat-toolbar>
  
          <hr class="seperator">
          <mat-toolbar>
            <mat-toolbar-row class="appbar">
              <span class="caption12-regular">Showing all transactions</span>
              <span class="example-spacer"></span>
                <div class="search-field">
                  <button mat-button><img src="../../../assets/images/download_outline_56.svg" alt=""></button>
                </div>
                
            </mat-toolbar-row>
  
          </mat-toolbar>  
          <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z8">
         <div>
  
         </div>
         <ng-container matColumnDef="name" >
          <th mat-header-cell *matHeaderCellDef class="body14-regular mr-bottom bg-card-grey mid-emphasis">Transaction details</th>
          <div style="height: 12px; width: 100%;"></div>
          <td mat-cell *matCellDef="let element">
            <div class="data-container mr-left">
              <p class="body14-regular"><span class="body16-medium">₹25,000  &nbsp;</span>  on 23-APR-2022</p>
              <p class="caption12-regular mid-emphasis">IMPS | Failed | 12345678901234567890 <span><img src="../../../assets/images/ic_more_horiz.svg" alt=""></span></p>
            </div>
          </td>
        </ng-container>
         <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef class="body14-regular bg-card-grey  mid-emphasis">Beneficiary details </th>
          <td mat-cell *matCellDef="let element">
            <div class="data-container">
              <p class="body16-regular">Ashish Chandra Vishwakarma</p>
              <p class="caption12-regular mid-emphasis">********** 7298 | Kotak Mahindra bank </p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="symbol" >
          <th mat-header-cell *matHeaderCellDef class="body14-regular bg-card-grey  mid-emphasis"> Status </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="data-container">
              <p class="body16-regular">Reversed</p>
              <p class="caption12-regular mid-emphasis">23-APR-2022</p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="position" >
          <th mat-header-cell *matHeaderCellDef class="body14-regular bg-card-grey  mid-emphasis"> Actions</th>
          <td mat-cell *matCellDef="let element">
            <div class="data-container">
              <button class="medium-outline-default body16-medium"  mat-button [matMenuTriggerFor]="menu" mat-stroked-button>ACTION<svg width="20" height="30" viewBox="0 0 10 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.705 12.178a.631.631 0 0 1 0-.928l.061-.057a.725.725 0 0 1 .985.001l3.544 3.341a.63.63 0 0 1 0 .931L8.75 18.807a.728.728 0 0 1-.985.002l-.061-.058a.628.628 0 0 1 0-.928l2.992-2.822-2.992-2.823z" fill="#DADADC"/>
              </svg>
              </button> 
              <mat-menu #menu="matMenu">
                <button class="body16-regular" mat-menu-item>Re-initiate &nbsp; <img src="../../../assets/images/ic_chevron.svg" alt=""> </button>
                <button class="body16-regular" mat-menu-item>Cash-out &nbsp; &nbsp; <img src="../../../assets/images/ic_chevron.svg" alt=""></button>
              </mat-menu>
            </div>
          </td>
        </ng-container>
    
   
    
  
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" class="details-container" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail "
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="d-flex expanded-row">
            <div>
              <p class="body14-regular mid-emphasis">Reference ID</p>
              <p class="subtitle14-medium">12345</p>
            </div>
            <div class="copy-img">
              <img src="../../../assets/images/copy icon.svg" alt="" height="24px" width="24px">
            </div>
          </div>
          <div class="d-flex expanded-row">
            <div>
              <p class=" body14-regular mid-emphasis">Transaction ID</p>
              <p class="subtitle14-medium">12345678901234567890</p>
            </div>
            <div>
              <img src="../../../assets/images/copy icon.svg" alt="" height="24px" width="24px">
            </div>        </div>
          <div class="d-flex expanded-row">
            <div>
              <p class="body14-regular mid-emphasis">RRN number</p>
              <p class="subtitle14-medium">12345678901234567890</p>
            </div>
            <div>
              <img src="../../../assets/images/copy icon.svg" alt="" height="24px" width="24px">
            </div>        
          </div>
          <div class="close">
            <img src="../../../assets/images/ic_close2.svg" alt="">
          </div>
        </div>
  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  
  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
        </div>  
  
    </mat-card>   
  </div>
